html{
	scroll-behavior: smooth;
	}
body {

	/*height: 100px;*/
	background-color: beige;
	width: 350px; 
	overflow: hidden;


	/*height:  430px;*/

}
#grid-container{
			display: grid;
			grid-template-columns: 150px 150px;
  		grid-template-rows: auto auto;
 			grid-gap: 50px;

 			float: right;
 			
 			overflow: hidden; 
 			/*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/

}
#grid1{
  background-color: white;
	border: 5px;
	border-style: ridge;

	width: 280px;
	/*margin-left: 2px;*/
	border-radius: 20px;	

	height:  400px;

	visibility: hidden;

	margin-top: 20px;
	margin-left: 10px;
	border-color: #018749;
}

#grid2 {

	  background-color:#f2f3f4;
	  width: 100px;
	  margin-left: 50px;

	  height: 380px;	       
	  /*margin-top: -28px;*/

  	/*grid-column-gap: 300px;
  	grid-row-gap: 15px;*/

  	/*float: right;*/

} 


svg, img {
      float: right;
      height: 50px;
      width: auto;


      /*margin-bottom: 20px;*/
   }
svg:hover {
	background-color: #a8e4a0;
}   

img {
	border: 0px;
	height: 35px;
	
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px; 
}

h1, h2 {
	background-color:#a8e4a0; /*rgb(119,221,119);*/
	border-radius: 6px;
	width: 200px;
}


ul {
	 list-style-type: none;
	  margin: 10px;
	  padding: 10px;
    
    /*border: 2px solid;*/

}
a {
  
  color: #018749;
  text-decoration: none;
}

a:hover {
   cursor: pointer;
   background-color: beige;
}

a:active {
  background-color: mediumslateblue;
}

a:visited {
  color: #018749;
}

.chat-btn:hover {
	background-color: #a8e4a0;
}